.outer-container {
  /* height: 60vh; */
  min-height: 60vh;
  width: 100vw;
  border-radius: 10%;
  /* background-color: #8246C7; */
  background-color: rgb(34, 13, 82);
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  /* align-items: center; */
  overflow: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

.image-container {

  /* display: inline-block; */
  display: flex;
  text-align: center;
  overflow: hidden;
}

.text-container {
  color: #fff;
  font-size: 3vh; 
  text-align: center;
  max-width: 40vw;
  display: flex;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.text-container h1 {
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .text-container {
    font-size: 3vw;
  }
}

.image-container img {
  margin: 0 auto;
  margin-top: 1%;
  height: 100%;
  /* vertical-align: middle; */
  /* display: table-cell; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* margin-top: 10%; */
}

.containImage{
  border-radius: 10%;
  max-height: 50vh;
}