@import url('https://fonts.googleapis.com/css?family=Exo+2|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sura:700&display=swap');

.Blank {
    height: 60vh;
	width: 100vw;
	border-radius: 10%;
    background-color: #e9f54b;
    margin-bottom: 10vh;
}
.Blank .ant-carousel .slick-slide {
    text-align: center;
    height: 40vh;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
.Blank .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .parallaxChildren {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 4vw;
        font-weight: normal;
    }
}

.bannerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.bannerBg {
    background: #fff;
}

.customChild {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.red {
    background-color: rgba(#f74c36, 0.8);
}

.green {
    background-color: rgba(#35f783, 0.8);
}

.blue {
    background-color: rgba(#42a7f4, 0.8);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  

.overlay{
    background-color: #0c0c0c57;
    text-align: center;
    display: flex;
}

.overlay h1{
    margin: auto;
    text-align: center;
    color:  #ffffff;
    /* font-family: 'Exo 2', sans-serif; */
    font-family: 'Righteous', cursive;
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 10vw; 
    text-shadow: .05em .05em 0 rgb(75, 75, 75);
    
}

.overlay h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    background-clip: text;
    text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }

.hindi h1{
    font-size: 15vw;
    font-family: 'Sura', serif;
}

.content{
    padding: 10%;
}

.content p{
    font-size: large;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  @keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
    }



@media screen and (min-width:1200px) {
    .poster {
        background-image: url("../assets/candice.jpeg");
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }
}

@media screen and (max-width:1200px) {
    .poster {
        background-image: url("../assets/candice.jpeg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.edmPoster {
    /* width: 100vw; */
    /* height: 100vh; */
}

.edmPoster img {
    width: 100%;
    size: cover;
}


.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button2:hover {
    background-color: #4CAF50;
    color: white;
  }

  @keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
    }

.edmbutton {
    text-align: center;
    padding: 5vw;
}