.competition {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 5vh;
}

.Section {
    margin: 10vh;
}

.wrapper {
    display:flex;
    flex-flow: row wrap-reverse;
    font-weight: bold;
    /* text-align: center; */
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1;
  }
  
  @media all and (min-width:800px) {
    .aboutimage {order: 1}
    .aboutcontent {order: 2}
  }

  .aboutlogo {
    display: block;
    /* width: 50%; */
    min-width: 400px;
}

.image {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
  }

  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
  }