.event {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto;
}

.competition {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.Section {
    margin: 10vh;
}