.event {
    position: relative;
    max-width: 450px; /* Maximum width */
    margin: auto;
    align-content: center;
    padding: 5vh;
}

.competition {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 5vh;
}

.Section {
    margin: 10vh;
}