@import url('https://fonts.googleapis.com/css?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display&display=swap');
/* Hexagons */
#hexGrid {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: 0.866% 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }
  
  #hexGrid:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
    transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  }
  
  .hex * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent;  /* fix for jagged edges in FF on hover transition */
  }
  
  .hexIn {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transform: skewY(-30deg) rotate(60deg);
    font-family: 'PT Serif', serif;
    font-size: 1.4vw;
  }
  
  
  /*** HEX CONTENT **********************************************************************/
  
  .hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
  
  .hex h1,
  .hex p,
  .hex a{
    margin: 0;
    width: 102%;
    left: -1%;  /*prevent line on the right where background doesn't cover image*/
    padding: 5%;
    box-sizing: border-box;
    background-color: rgba(9, 78, 228, 0.8);
    font-weight: 300;
    transition: transform .2s ease-out, opacity .3s ease-out;
  }

  .hex a{
    color : white;
    font-size: large;
  }
  

  .hex h1 {
    bottom: 50%;
    padding-top: 50%;
    font-size: 1.5em;
    z-index: 1;
    transform: translateY(-100%) translatez(-1px);
  }
  
  .hex h1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  
  .hex p, .hex a {
    top: 50%;
    padding-bottom: 50%;
    transform: translateY(100%) translatez(-1px);
  }
  
  
  /*** HOVER EFFECT  **********************************************************************/
  
  .hexIn:hover h1, .hexIn:focus h1, .hexIn:hover p, .hexIn:focus p, .hexIn:focus a, .hexIn:hover a {
    transform: translateY(0%) translatez(-1px);
  }
  
  
  /*** SPACING AND SIZING *****************************************************************/
  
  @media (min-width:1201px) {  /* <- 2-3  hexagons per row */
    .hex {
      width: 32.666%;    /* = (100-2) / 3 */
      padding-bottom: 37.720%;    /* =  width / sin(60) */
    }
    .hex:nth-child(5n+1),
    .hex:nth-child(5n+2) {
      transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(5n+3),
    .hex:nth-child(5n+4),
    .hex:nth-child(5n+5) {
      margin-top: -8.564%;
      margin-bottom: -8.564%;
    }
    .hex:nth-child(5n+2),
    .hex:nth-child(5n+4) {
      margin-right: 1%;
      margin-left: 1%;
    }
    .hex:nth-child(5n+1) {
      margin-left: 0.5%;
    }
    .hex:nth-child(5n+3),
    .hex:nth-child(5n+6) {
      clear: left;
    }
  }
  
  @media (max-width: 1200px) {  /* <- 1-2  hexagons per row */
    .hex {
      width: 49.5%;    /* = (100-1) / 2 */
      padding-bottom: 57.158%;    /* =  width / sin(60) */
    }
    .hex:nth-child(3n+1) {
      transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(3n+2),
    .hex:nth-child(3n+3) {
      margin-top: -13.423%;
      margin-bottom: -13.423%;
    }
    .hex:nth-child(3n+1) {
      margin-left: 0.5%
    }
    .hex:nth-child(3n+3) {
      margin-left: 1%;
    }
    .hex:nth-child(3n+2),
    .hex:nth-child(3n+4) {
      clear: left;
    }
  }
  
  @media (max-width: 400px) {
    #hexGrid {
      font-size: 13px;
    }
  }
  
  /* End Hexagons */

  .competition {
    margin-bottom: 10vh;
  }