
.ant-carousel .slick-slide {
	height: 100vh;
	width: 100vw;
    line-height: 160px;
    color: #fff;
	background: linear-gradient(-45deg, #9d23d5);
	background-size: 400% 400%;
	-webkit-animation: gradientBG 5s ease infinite;
	        animation: gradientBG 5s ease infinite;
    /* overflow: hidden; */
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  @-webkit-keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.infin8-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
	max-width: 100vw;
	
	@media screen and (max-width: 400px){
		margin-top: auto;
	}
}

.fadingtext {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	width: 300px;
	height: 150px;
	background: red;
	margin-left: -150px;
	z-index: 30;
	-webkit-animation: fade-in-slogan infinite 2s ease-in forwards;
	   -moz-animation: fade-in-slogan infinite 2s ease-in forwards;
			animation: fade-in-slogan infinite 2s ease-in forwards;
  }
  
  @-webkit-keyframes fade-in-slogan {
	0%   { opacity: 0; }
	30%  { opacity: 1; }
	50%  { opacity: 1; }
	70%  { opacity: 1; }
	100% { opacity: 0; } 
  }



  .watermark {
	height: 100vh;
	/* width: 100vw; */
	background-image: url('../assets/infin8shyout.png');
	background-position: ;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	opacity: 0.2;
	margin-top: -99vh;
	margin-left: 20vw;
  }

  .header {
	  background-image: url('../assets/iiitb-white.png');
	  height: 10vh;
	  width: 110%;
	  margin: 10px;
	  background-repeat: no-repeat;
	  background-size: contain;
  }